<launch>
	<arg name="affw" default="false" />

	<param name="joy/deadzone" value="0.33" />
	<node name="joy" pkg="joy" type="joy_node" output="screen" />
	
	<param name="vDef" value="1" />
	<param name="vMax" value="3" />
	<param name="dccDef" value="2" />
	<param name="dccMax" value="4" />
	<param name="accDef" value="2" />
	<param name="accMax" value="3" />
	<param name="rotateDef" value="5" />
	<param name="rotateMax" value="10" />
	<param name="rotateMin" value="1" />
	<param name="affw" value="$(arg affw)" />
	<node name="ssl_robot_joy" pkg="ssl_robot_comm" type="joy2vel_xyw_smooth" output="screen" />
	
    <node name="vel_xyw2SharedRadio" pkg="ssl_robot_comm" type="vel_xyw2SharedRadio" output="screen" />
    
	<param name="use_sim_time" value="false" />
	<param name="robot_id" value="0" />
	<param name="robot_team_color" value="Y" />
	<param name="server_name" value="192.168.20.210" />
    <node name="sumatra_wf_receiver" pkg="ssl_robot_vision" type="sumatra_wf_receiver" output="screen" />
    
	<arg name="export" default="false" />
	<group if="$(arg export)">
		<param name="dataFolder" value="/tmp/ssl_robot_data" />
		<node name="affw_export" pkg="affw_ctrl" type="affw_export" output="screen" />
		<node name="ssl_robot_export" pkg="ssl_robot_affw" type="ssl_robot_export" output="screen" />
	</group>
</launch>