<launch>
	<arg name="learner" default="" />
	<param name="learner" value="$(arg learner)" />
	
	<arg name="reset" default="" />
	<param name="reset" value="$(arg reset)" />

	<node name="ssl_robot_affw" pkg="ssl_robot_affw" type="ssl_robot_affw" output="screen" />
	<node name="affw_ctrl" pkg="affw_ctrl" type="affw_ctrl" output="screen" />
  
	<param name="dataFolder" value="/tmp/ssl_robot_data" />
		
	<arg name="export" default="false" />
	<group if="$(arg export)">
		<node name="affw_export" pkg="affw_ctrl" type="affw_export" output="screen" />
		<node name="ssl_robot_export" pkg="ssl_robot_affw" type="ssl_robot_export" output="screen" />
	</group>

</launch>
