<launch>
  <node name="ssl_robot_control" pkg="ssl_robot_control" type="vel_xyw2motorCtrl" output="screen" />
  
  <node name="ssl_robot_affw" pkg="ssl_robot_affw" type="ssl_robot_affw" output="screen" />
  <node name="affw_ctrl" pkg="affw_ctrl" type="affw_ctrl" output="screen" />
  
  <node name="ssl_robot_traj_gen" pkg="ssl_robot_affw" type="ssl_robot_traj_gen" required="true" output="screen" args="/tmp/traj.csv" />
  
</launch>
