<launch>
  
  <param name="robot_id" value="9" />
  <param name="server_name" value="192.168.20.210" />
  <param name="robot_team_color" value="Y" />

  <node name="sumatra_wf_receiver" pkg="ssl_robot_vision" type="sumatra_wf_receiver" output="screen" />
  <node name="vel_xyw2SharedRadio" pkg="ssl_robot_comm" type="vel_xyw2SharedRadio" output="screen" />
  <node name="ssl_robot_affw" pkg="ssl_robot_affw" type="ssl_robot_affw" output="screen" />
  <node name="affw_ctrl" pkg="affw_ctrl" type="affw_ctrl" output="screen" />
  
  <node name="ssl_robot_traj_gen" pkg="ssl_robot_affw" type="ssl_robot_traj_gen" required="true" output="screen" args="/tmp/traj.csv" />
  
</launch>
