<launch>
	<arg name="learner" default="none" />
	<arg name="params" default="" />

	<include file="$(find ssl_robot_affw)/launch/ssl_robot_traj.launch" />
	
	<include file="$(find ssl_robot_affw)/launch/ssl_robot_affw_ctrl.launch">
		<arg name="learner" value="$(arg learner)" />
		<arg name="custom_params" value="$(arg params)" />
	</include>
</launch>