<launch>
	<node name="vel_xyw2SharedRadio" pkg="ssl_robot_comm" type="vel_xyw2SharedRadio" output="screen" />
    
	<param name="use_sim_time" value="false" />
	<param name="robot_id" value="10" />
	<param name="robot_team_color" value="Y" />
	<param name="server_name" value="192.168.20.210" />
    <node name="sumatra_wf_receiver" pkg="ssl_robot_vision" type="sumatra_wf_receiver" output="screen" />
	
	<!-- transformation from map frame to local frame -->
	<node name="ssl_robot_transform" pkg="ssl_robot_comm" type="ssl_robot_transform" />
    
	<arg name="export" default="false" />
	<group if="$(arg export)">
		<param name="dataFolder" value="/tmp/ssl_robot_data" />
		<node name="affw_export" pkg="affw_ctrl" type="affw_export" output="screen" />
		<node name="ssl_robot_export" pkg="ssl_robot_affw" type="ssl_robot_export" output="screen" />
	</group>
</launch>