<launch>
	<node name="ssl_robot_shared_radio" pkg="ssl_robot_shared_radio" type="vel_xyw2SharedRadio" output="screen" />
    
	<param name="use_sim_time" value="false" />
	<param name="robot_id" value="8" />
	<param name="robot_team_color" value="Y" />
	<param name="server_name" value="192.168.20.210" />
	<!--<param name="server_name" value="127.0.0.1" />-->
    <node name="ssl_robot_vision_sumatra" pkg="ssl_robot_vision_sumatra" type="ssl_robot_vision_sumatra" output="screen" />
	
	<!-- transformation from map frame to local frame -->
	<node name="ssl_robot_transform" pkg="ssl_robot_transform" type="ssl_robot_transform" />
</launch>