<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find ssl_robot_control)/config/ssl_robot_control.yaml" command="load"/>

  <!-- load the controllers -->
  <!--<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/ssl_robot" args="joint_state_controller
					  wheel_fr_position_controller
					  wheel_fl_position_controller
					  wheel_rl_position_controller
					  wheel_rr_position_controller"/>-->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/ssl_robot" args="joint_state_controller
					  wheel_fr_vel_controller
					  wheel_fl_vel_controller
					  wheel_rl_vel_controller
					  wheel_rr_vel_controller
						"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/ssl_robot/joint_states" />
  </node>

</launch>
